form {
  display: grid;
  max-width: 800px;
  min-height: 500px;
  max-height: 500px;
  border: solid gray 1px;
  margin-bottom: 20px;
}

::ng-deep .counter input {
  width: 30px;
}
::ng-deep .counter button {
  width: 30px;
}

::ng-deep input.ng-invalid{
  border-color: red;
 }
