:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

@media all and (max-width: 1550px) {
  :host {
    grid-template-columns: 1fr;
  }
}

.statistic {
  display: grid;
  grid-row-gap: 5px;
  width: 500px;
  /* height: 500px;*/
  border: solid black 5px;
}

.row {
  display: grid;
  grid-template-columns: 100px 1fr 50px;
  grid-column-gap: 10px;
  border: solid gray 1px;
}

.selected {
  background-color: gold;
}

.row:hover {
  cursor: pointer;
}
