.hero {
  display: grid;
  grid-template-rows: 10px 10px;
  align-content: space-between;
  height: 100%;
  text-align: center;
}

.current-action {
  color: green;
}

span {
  font-size: 10px;
  font-weight: 600;
  color: red;
  background-color: black;
}