<div formGroupName="heroesCount">
  <div class="counter">
    <div>Героев класса 1</div>
    <input type="number" formControlName="thinkingRandom">
    <button type="button" (click)="addHero('thinkingRandom')">+</button>
    <button type="button" (click)="removeHero('thinkingRandom')">-</button>
  </div>
  <div class="counter">
    <div>Героев класса 2</div>
    <input type="number" formControlName="thinkingPickAndRandomMove">
    <button type="button" (click)="addHero('thinkingPickAndRandomMove')">+</button>
    <button type="button" (click)="removeHero('thinkingPickAndRandomMove')">-</button>
  </div>
  <div class="counter">
    <div>Героев класса 3</div>
    <input type="number" formControlName="thinkingSearchPathWithFullMap">
    <button type="button" (click)="addHero('thinkingSearchPathWithFullMap')">+</button>
    <button type="button" (click)="removeHero('thinkingSearchPathWithFullMap')">-</button>
  </div>
  <div class="counter">
    <div>Героев класса 4</div>
    <input type="number" formControlName="thinkingSearchPathWithVisibility">
    <button type="button" (click)="addHero('thinkingSearchPathWithVisibility')">+</button>
    <button type="button" (click)="removeHero('thinkingSearchPathWithVisibility')">-</button>
  </div>
  <div class="counter">
    <div>Героев класса 5</div>
    <input type="number" formControlName="thinkingBestAction">
    <button type="button" (click)="addHero('thinkingBestAction')">+</button>
    <button type="button" (click)="removeHero('thinkingBestAction')">-</button>
  </div>
</div>
