<div [formGroup]="form">
  <div formGroupName="landSettings">
    <div class="counter">
      <div>Размер карты</div>
      <input id="mapSize" type="number" min="0" formControlName="mapSize">
      <button type="button" (click)="increaseMapSize()">+</button>
      <button type="button" (click)="decreaseMapSize()">-</button>
    </div>
    <div class="counter">
      <div>Деревьев</div>
      <input type="number" min="0" formControlName="treesCount">
      <button type="button" (click)="addTree()">+</button>
      <button type="button" (click)="removeTree()">-</button>
    </div>
  </div>
</div>
