:host {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-rows: 30px auto 30px;
  grid-row-gap: 20px;
}

@media all and (max-width: 800px) {
  :host {
    grid-template-rows: 100px auto 30px;
  }
}

.content > h1 {
  text-align: center;
}

.page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.page .header {
  grid-column-start: 1;
  grid-column-end:   3;
}
