header {
  display: grid;
  grid-template-columns: 100px auto 100px;
  grid-column-gap: 50px;
  justify-items: center;
}

@media all and (max-width: 800px) {
  header {
    grid-row-gap: 20px;
  }
  .nav {
    grid-column: 1 / 4;
  }
}
