<div class="map"
  [ngStyle]="{
    'width': map.width * 50 + 'px',
    'height': map.height * 50 + 'px',
    'grid-template-rows': 'repeat(' + map.height + ', 50px)',
    'grid-template-columns': 'repeat(' + map.width + ', 50px)'
  }">
  <ng-container *ngIf="!selectedHero; else memory">
    <div *ngFor="let cell of map.cells" [ngSwitch]="getUpItemType(cell)"
        class="cell"
        [ngStyle]="!cell.items.length && { 'backgroundImage': 'url(../../assets/' + cell.renderSettings.img + ')' }">
      <app-tree *ngSwitchCase="itemTypesEnum.Tree" [tree]="getUpItem(cell)"></app-tree>
      <app-hero *ngSwitchCase="itemTypesEnum.Hero" [hero]="getUpItem(cell)"
                [selected]="selectedHero === getUpItem(cell)"
                ngClass="selectable"
                (click)="select(getUpItem(cell))"></app-hero>
      <ng-container *ngSwitchDefault>
        <app-item *ngIf="getUpItem(cell) as item" [item]="item"></app-item>
      </ng-container>
    </div>
  </ng-container>
  <ng-template #memory>
    <div *ngIf="memoryType === 'shortTerm'; then shortTermMemory; else longTermMemory"></div>
    <ng-template #shortTermMemory>
      <div *ngFor="let cell of shortTermMemoryMap" [ngSwitch]="getUpItemType(cell)"
           class="cell"
           [ngStyle]="!cell.items.length && { 'backgroundImage': 'url(../../assets/' + cell.renderSettings.img + ')' }">
        <app-tree *ngSwitchCase="itemTypesEnum.Tree" [tree]="getUpItem(cell)"></app-tree>
        <app-hero *ngSwitchCase="itemTypesEnum.Hero" [hero]="getUpItem(cell)"
                  [selected]="selectedHero.name === getUpItem(cell).name"
                  (click)="cancelSelected(getUpItem(cell).name)"></app-hero>
      </div>
    </ng-template>
    <ng-template #longTermMemory>
      <div *ngFor="let img of longTermMemoryMap; let i = index" class="cell"
           [ngStyle]="{ 'backgroundImage': 'url(../../assets/' + img + ')' }">
           <app-hero *ngIf="selectedHeroCellIndex === i"
                     [hero]="selectedHero" [selected]='true'
                     (click)="cancelSelected(selectedHero.name)"></app-hero>
      </div>
    </ng-template>
  </ng-template>
</div>
