<div class="map"
  [ngStyle]="{
    'width': map.width * 50 + 'px',
    'height': map.height * 50 + 'px',
    'grid-template-rows': 'repeat(' + map.height + ', 50px)',
    'grid-template-columns': 'repeat(' + map.width + ', 50px)'
  }">
  <ng-container *ngIf="!selectedHero; else memory">
    <div *ngFor="let cell of map.cells" [ngSwitch]="getUpItemType(cell)"
        class="cell"
        [ngStyle]="!cell.items.length && { 'backgroundImage': 'url(../../assets/' + cell.renderSettings.img + ')' }">
      <app-tree *ngSwitchCase="itemTypesEnum.Tree" [tree]="getUpItem(cell)"></app-tree>
      <app-hero *ngSwitchCase="itemTypesEnum.Hero" [hero]="getUpItem(cell)"
                [selected]="selectedHero === getUpItem(cell)"></app-hero>
    </div>
  </ng-container>
  <ng-template #memory>
    <div *ngIf="memoryType === 'shortTerm'; then shortTermMemory; else longTermMemory"></div>
    <ng-template #shortTermMemory>
      <div *ngFor="let cell of shortTermMemoryMap" [ngSwitch]="getUpItemType(cell)"
           class="cell"
           [ngStyle]="!cell.items.length && { 'backgroundImage': 'url(../../assets/' + cell.renderSettings.img + ')' }">
        <app-tree *ngSwitchCase="itemTypesEnum.Tree" [tree]="getUpItem(cell)"></app-tree>
        <app-hero *ngSwitchCase="itemTypesEnum.Hero" [hero]="getUpItem(cell)"
                  [selected]="selectedHero === getUpItem(cell)"></app-hero>
      </div>
    </ng-template>
    <ng-template #longTermMemory>
      <div *ngFor="let img of longTermMemoryMap" class="cell"
           [ngStyle]="{ 'backgroundImage': 'url(../../assets/' + img + ')' }">
      </div>
    </ng-template>
  </ng-template>
</div>
